@import "@/scss/_colors.scss";

.b__login--title { 
    h3 {
        color: $color-white;
    }
}
.b__login {
    display: flex;
    align-items: center;
    justify-content: center;
    .b__login--content {
        width: 400px;
        height: 500px; 
        border-radius: 7px;
        background: #069;  
        padding: 30px;
        label {
            color: $color-white;
        }
    }  
}